@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../css/About.css">

</head>
<body>
    <h1 class="text-center" style="font-weight: bolder; margin-left: 15px; margin-top: 10px;"><u>ABOUT US</u></h1>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
                        <img src="../Images/labour3.jpg">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <h2 style="color: white; margin-left: 30px; font-weight: bolder; font-family: lobster; font-size: 50px;">LabourZillaZone</h2>
                    <p style="font-size: 18px; color: black; margin-left: 30px;">
                        Labourzilla Zone bridge the gap between a consumer and a labourer by an easy to use online system for searching and hiring workers such as plumbers, carpenters, electricians, painter and many more.
                        Our aim is to provide work to each labourer by connecting them with this website where each and every labourer has their own identity, so mass can connect with them easily for getting services. Starting from registration of a labour, it maintains all the details of customers and labours. The main objective of this project is to save time and effort. In this system, customer can register online instead of going to anywhere to find labours. This will also has a strong social aspect as it plans to change the lives of millions of workers who are not technology literate.  Labours can create their profile and upload all their details including their specialization and customer can view the list of labours and can hire them according to their requirements.
                    </p>
                     </div>
            </div>
        </div>
    </div>
    @*<section class="test">
        <div class="container">
            <h1>TEAM</h1>
            <p class="text-center" style="color: white;">MEET OUR TEAM</p>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="../Images/Logo3.png" class="user">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fugit odit id fuga modi. Dicta alias possimus ut mollitia, fuga iste praesentium voluptatum porro similique eius, eveniet reprehenderit ullam debitis.</blockquote>
                        <h3> MR. XYZ <span>Developer</span></h3>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="../Images/Logo3.png" class="user">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fugit odit id fuga modi. Dicta alias possimus ut mollitia, fuga iste praesentium voluptatum porro similique eius, eveniet reprehenderit ullam debitis.</blockquote>
                        <h3> MR. XYZ <span>Developer</span></h3>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="../Images/Logo3.png" class="user">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fugit odit id fuga modi. Dicta alias possimus ut mollitia, fuga iste praesentium voluptatum porro similique eius, eveniet reprehenderit ullam debitis.</blockquote>
                        <h3> MR. XYZ <span>Developer</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

</body>
</html>