@model IEnumerable<LabourZillaZoneee.Models.Labour>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 class="text-center" style="font-weight: bolder; margin-left: 15px; margin-top: 10px;"><u>ABOUT US</u></h1>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
                        <img src="./Images/ban1.jpg">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <h2 style="color: white; margin-left: 30px; font-weight: bolder; font-family: lobster; font-size: 50px;">OWN GROCERS</h2>
                    <p style="font-size: 18px; color: black; margin-left: 30px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium corrupti distinctio earum accusantium blanditiis, voluptatum dolores dicta aut totam! Temporibus beatae, saepe dolores animi fugit aspernatur amet dicta velit aut?
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste voluptas vitae libero eos, eveniet rem ducimus tempore reiciendis ab ratione nulla corporis facilis consectetur est perspiciatis sit repellat? Fuga, dicta.
                    </p>
                    <a href="./readmoreaboutus.html" style=" background: orangered; margin-left: 30px; color: #fff; padding: 7px 15px; display: inline-block; margin-top: 20px;">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <div class="container">
            <h1>TEAM</h1>
            <p class="text-center" style="color: white;">MEET OUR TEAM</p>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="./Images/logo.png" class="user">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fugit odit id fuga modi. Dicta alias possimus ut mollitia, fuga iste praesentium voluptatum porro similique eius, eveniet reprehenderit ullam debitis.</blockquote>
                        <h3> MR. XYZ <span>FOUNDER OF OWN GROCERS</span></h3>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="./Images/logo.png" class="user">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fugit odit id fuga modi. Dicta alias possimus ut mollitia, fuga iste praesentium voluptatum porro similique eius, eveniet reprehenderit ullam debitis.</blockquote>
                        <h3> MR. XYZ <span>FOUNDER OF OWN GROCERS</span></h3>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="./Images/logo.png" class="user">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fugit odit id fuga modi. Dicta alias possimus ut mollitia, fuga iste praesentium voluptatum porro similique eius, eveniet reprehenderit ullam debitis.</blockquote>
                        <h3> MR. XYZ <span>FOUNDER OF OWN GROCERS</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>